_ReSharper*
.idea
*csproj.DotSettings
*.sln.docstates
bin
Bin
obj
*.suo
*.ncb
*.vsp
binaries
*.user
.svn
*.sln.cache
Releases
build
TestResult.xml
*.orig
log*.txt
debugLog*.txt*
infoLog*.txt*
errorLog*.txt*
*.swp
\#*#
*.build.*
*.password
App_Data
bundle.js
bundle.*.js
*crunchsolution*
*crunchproject*
TAGS
UpgradeLog.*
_UpgradeReport_*
packages
